.redondo{
    border-radius: 10px;
}
mat-card{
    margin-top: 10px;
}
mat-icon{
    font-size: 1.3rem;
}
span{
    font-size: 1rem;
    color: #616161;
}
.responsive{
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    height: 35px;
}
.w-100{
    width: 100%;
}
.container{
    padding-top: 20px;
}